<!-- Diagnosis Table -->
<div *ngIf="id">
  <div class="table1">
    <mat-card>
      <!-- Table Title -->
      <mat-card-header>
        <mat-card-title>Diagnosis Details</mat-card-title>
        <ng-template [ngIf]="show">
          <div>
            <app-dialog
              user="diagnosis"
              (datachange)="addDiagnosis($event)"
              btnname="add_circle"
              (click)="createDiagnosis()"
              style="margin-left: 300px"
            ></app-dialog>
          </div>
        </ng-template>
      </mat-card-header>
      <mat-card-content>
        <!-- Inserting the data source -->
        <table mat-table [dataSource]="diagnosisSource">
          <ng-container matColumnDef="Nos">
            <th mat-header-cell *matHeaderCellDef>Nos.</th>
            <td mat-cell *matCellDef="let element; let i = index">{{i + 1}} </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef>Date.</th>
            <td mat-cell *matCellDef="let element">{{ element.Date | date: "MM-dd-yyyy" }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Diagnosis">
            <th mat-header-cell *matHeaderCellDef>Diagnosis</th>
            <td mat-cell *matCellDef="let element">{{ element.Diagnosis }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="DoctorId">
            <th mat-header-cell *matHeaderCellDef>Doctor</th>
            <td mat-cell *matCellDef="let element">{{ element.DoctorId | docname}}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="PatientId">
            <th mat-header-cell *matHeaderCellDef>Patient ID</th>
            <td mat-cell *matCellDef="let element">{{ element.PatientId }}</td>
          </ng-container>

          <ng-template [ngIf]="show">
            <div>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element" class="action-link">
                  <app-dialog
                    user="diagnosis"
                    btnname="edit"
                    (click)="edit(element)"
                  ></app-dialog>
                  <button
                  mat-icon-button
                    (click)="deleteDiagnosis(element)"
                  >
                  <mat-icon>close</mat-icon>
                  </button>
                </td>
              </ng-container>
            </div>
          </ng-template>
          <!-- For Diaplaying table data-->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Prescription Table  -->
  <div *ngIf="!isLabStaff" class="table2">
    <mat-card>
      <mat-card-header>
        <!-- Table Title -->
        <mat-card-title>Prescription Details</mat-card-title>

        <ng-template [ngIf]="show">
          <div>
            <app-prescription-dialog
              user="prescription"
              (datachange)="addPrescription($event)"
              btnname="add_circle"
              (click)="create1()"
              style="margin-left: 280px"
            ></app-prescription-dialog>
          </div>
        </ng-template>
      </mat-card-header>
      <mat-card-content>
        <!-- Inserting the data source -->
        <table mat-table [dataSource]="prescriptionSource">
          <ng-container matColumnDef="Nos">
            <th mat-header-cell *matHeaderCellDef>Nos.</th>
            <td mat-cell *matCellDef="let element; let i = index">{{i + 1}} </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef>Date.</th>
            <td mat-cell *matCellDef="let element">{{ element.Date | date: "MM-dd-yyyy" }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Prescription">
            <th mat-header-cell *matHeaderCellDef>Prescription</th>
            <td mat-cell *matCellDef="let element">
              {{ element.Prescription }}
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="DoctorId">
            <th mat-header-cell *matHeaderCellDef>Doctor</th>
            <td mat-cell *matCellDef="let element">{{ element.DoctorId | docname }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="PatientId">
            <th mat-header-cell *matHeaderCellDef>Patient ID</th>
            <td mat-cell *matCellDef="let element">{{ element.PatientId }}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element" class="action-link">
              <app-prescription-dialog
                user="prescription"
                btnname="edit"
                (click)="edit1(element)"
              ></app-prescription-dialog>
              <button mat-icon-button (click)="delete1(element)">
                <mat-icon>close</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- For Diaplaying table data-->
          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumnsprescription"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsprescription"
          ></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Record Table  -->
  <div *ngIf="!isLabStaff" class="table3">
    <mat-card>
      <mat-card-header>
        <!-- Table Title -->
        <mat-card-title>Record Details</mat-card-title>

        <ng-template [ngIf]="isHospitalStaff">
          <div>
            <app-recorddialog
              user="record"
              (datachange)= "addRecord($event)"
              btnname="add_circle"
              (click)="create2()"
              style="margin-left:280px">
            </app-recorddialog>
          </div>
        </ng-template>
      </mat-card-header>
      <mat-card-content>
        <!-- Inserting the data source -->
        <table mat-table [dataSource]="recordSource">
          <ng-container matColumnDef="Nos">
            <th mat-header-cell *matHeaderCellDef>Nos.</th>
            <td mat-cell *matCellDef="let element; let i = index">{{i + 1}} </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef>Date.</th>
            <td mat-cell *matCellDef="let element">{{ element.Date  | date: "MM-dd-yyyy" }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Record">
            <th mat-header-cell *matHeaderCellDef>Record</th>
            <td mat-cell *matCellDef="let element">{{ element.Record }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="DoctorId">
            <th mat-header-cell *matHeaderCellDef>Inputter</th>
            <td mat-cell *matCellDef="let element">{{ element.InputterID }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="PatientId">
            <th mat-header-cell *matHeaderCellDef>Patient ID</th>
            <td mat-cell *matCellDef="let element">{{ element.PatientId }}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element" class="action-link">
              <app-recorddialog
                user="record"
                btnname="edit"
                (datachange)= "addRecord($event)"
                (click) = "edit2(element)" >
              </app-recorddialog>
              <!-- <button mat-icon-button (click)="deleteRecord(element)">
                <mat-icon>close</mat-icon>
              </button> -->
            </td>
          </ng-container>

          <!-- For Diaplaying table data-->
          <tr mat-header-row *matHeaderRowDef="displayedColumnsRecord"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsRecord"
          ></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
