<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<app-toolbar></app-toolbar>
<div class="default-page-settings">
  <router-outlet></router-outlet>
</div>

<!-- <app-dashboard></app-dashboard> -->
<!-- <app-appointment></app-appointment> -->

<!-- <mat-form-field appearance="fill">
  <mat-label>Input</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Select</mat-label>
  <mat-select>
    <mat-option [value]="one">First option</mat-option>
    <mat-option [value]="two">Second option</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Textarea</mat-label>
  <textarea matInput></textarea>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Select</mat-label>
  <mat-select (selectionChange)="changeClient($event.value)">
    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
  </mat-select>
</mat-form-field> -->
