
  <h4>Appointments</h4>

  <mat-tab-group (selectedTabChange)="onTabChanged($event)">
    <mat-tab *ngIf="!showPendingAppointments " label="Create Appointment">
        <app-create-appointment></app-create-appointment>
    </mat-tab>
    <mat-tab *ngIf="!showPendingAppointments" label="View Appointment">
        <app-view-appointment></app-view-appointment>
    </mat-tab>
    <mat-tab *ngIf="showPendingAppointments" label="View Pending Appointments">
      <app-pending-appointments></app-pending-appointments>
  </mat-tab>
  </mat-tab-group>

