<div fxLayout="row" fxLayoutAlign="space-evenly center" class="mat-card-action">
  <div *ngFor="let action of displayDashboard">
    <div
      class="action-card"
      routerLink="{{ action.redirectUrl }}"
      style="cursor: pointer"
    >
      <mat-card class="example-card">
        <mat-card-header>
          <mat-icon>{{ action.icon }}</mat-icon>
          <mat-card-title>{{ action.title }}</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  <div>
  </div>
</div>
