/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color:#673ab7; 
  }
  
  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    color:#673ab7;
    background-color:#673ab7 ;
  }
  
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
      background-color:rgb(255, 37, 37,.26);
  }

  
.default-page-settings{
    margin-top: 20px;
    margin-left:20px;
}